.alert-text {
    color: red;
}


img {
    height: auto;
    width: 400px;
}

.subsection.header {
    color: red;
}

.subsection#preview {
    color:blue;
}

body {
    background-color:rgba(99, 94, 94, 0.884);
}