.alert-text {
    color: red;
}


img {
    height: auto;
    width: 400px;
    padding: 30px;
}

.subsection.header {
    color: rgb(185, 0, 0);
    font-size: 20px;
}

#preview {
    color:rgb(194, 194, 209);
}

body {
    color: rgb(255, 255, 255);
    background-color: rgb(88, 80, 80);
    padding: 1rem;
    max-width: 1000px;
    margin: auto;
    font-size: 18px;
}

.module {
    padding: 1rem;
    background: white;
}

.module h2 {
    background: #6f6986;
    color: black;
    margin: -1rem -1rem 1rem -1rem;
    padding: 1rem;
}

.module :last-child {
    color: black;
    margin-bottom: 0
}

div {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #643636;
}

.main-content {
    background-color:#6a6b6b
}

.main-content:active {
    transform: scale(0.100);
}

.contact-me {
    background-color: #050505;
}

.highlight {
    background-color: rgb(105, 105, 45);
}

.container {
    height: 120px;
    padding: 16px;
    background: plum;
    border: 4px inset indigo;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
    width: 350px;
}

.item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
    align-self: flex-end;
}

button {
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    background: #7d2ae8;
    transition: all 0.2s ease;
    width: 200px;
    height: 70px;
}

button:active {
    transform: scale(0.300);
}

.wrapper {
    display:flex;
}

.wrapper input[type="text"] {
    flex: 1 1 auto;
}

label {
    color: rgb(211, 205, 205);
}

