.alert-text {
    color: red;
}


img {
    height: auto;
    width: 400px;
    padding: 30px;
}

.subsection.header {
    color: red;
}

#preview {
    color:rgb(103, 103, 145);
}

body {
    color: white;
    background-color: rgb(27, 26, 26);
    margin: 100px;
    border: 400px;
}

